[package]
name = "agent"
version = "0.1.0"
edition = "2021"


[dependencies]
common = { path = "../common" }

ureq = { version = "2.1", features = ["tls", "json"] }
log = "0.4"
uuid = { version = "0.8", features = ["serde", "v4"] }
dirs = "4.0.0"
